* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  padding: 40px;
}
.selfList, .selfAnsList {
  margin-top: 16px;
}
.rules {
  list-style-position: inside;
}
.inputContainer {
  margin: 32px 0;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 18px;
  padding: 2px;
  outline: none;
}
.input:focus {
  border-color: black;
}
.addToList, .letsPlay, .addToAnsList, .home, .btn { 
  padding: 4px;
  display: block;
  margin-top: 16px;
}
.letsPlay { margin-top: 32px;}
.listEle {
  display: flex;
  align-items: center;
  margin: 4px 0;
  justify-content: space-between;
}
.listEle > p { font-size: 18px; }
.listEle > button {
  background: red;
  color: white;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 16px;
}
.output {
  margin: 8px 0;
}
.output > span {
  margin-right: 16px;
}